// index.ejs
// HtmlのComponentの入れ子に対し
<div class="mainInnerComponent">
  <article class="exampleDescriptionComponent">
    ...
    <section class="articleSectionComponent">...</section>
    ...
  </article>
</div>