<div class="copy_container">
  <span class="copy_text">
    <%
    var begin = 2016;
    var current = new Date().getFullYear();
    var disp = begin === current ? begin : begin + '-' + current;
    %>
    © <%- disp %> Takaaki Watanabe
  </span>
</div>