<ul class="nav_navigations">
  <li><a class="nav_btn <%= nav === 1 ? 'isActive' : '' %>" href="./">Top</a></li>
  <li><a class="nav_btn <%= nav === 2 ? 'isActive' : '' %>" href="./document.html">Code</a></li>
  <li><a class="nav_btn <%= nav === 3 ? 'isActive' : '' %>" href="https://github.com/nabepon/MOCSS" target="_blank">GitHub</a></li>
</ul>
