// トンマナを制御する色やmargin、gridなどを定義

@import "./_util.scss";
$fontSizeSS: 10px;
$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeL: 16px;
$fontSizeHead2: 24px;
$fontSizeHead1: 32px;
$textColor: #4a4a4a;
$linkColor: #ff9;
$bgColor: #fff;
$activeBgColor: #ffffa6;
$contentWidth: 960px;
